.login-box {
  padding: 35px;
  background: white;
  border-radius: 5px;
}

.login-text {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
