<div class="centered-content">
  <div class="login-box">
    <div class="login-text">
      <h1 class="title has-text-dark">Login</h1>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          #usernameInput
          class="input has-background-light"
          type="text"
          placeholder="Username"
          [(ngModel)]="usernameInputText"
          required
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          #passwordInput
          class="input has-background-light"
          type="password"
          placeholder="Password"
          [(ngModel)]="passwordInputText"
          required
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div *ngIf="errorText.length !== 0">
      <p class="help is-danger">
        {{ errorText }}
      </p>
    </div>
    <p *ngIf="errorText.length === 0">&nbsp;</p>
    <br />
    <div class="field is-pulled-right">
      <p class="control">
        <button
          class="button is-success has-text-white"
          (click)="
            onLoginButtonClicked(usernameInput.value, passwordInput.value)
          "
          [disabled]="
            usernameInputText.length === 0 || passwordInputText.length === 0
          "
        >
          Login
        </button>
      </p>
    </div>
    <br />
    <p class="has-text-grey">
      No account?<a routerLink="/sign-up"> Sign up</a>
    </p>
  </div>
</div>
