<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Welcome!
    </h1>
    <div>
      Just checking out the repo? Login with the demo account for no sign-up.
      Click on Sprint 1 to see an example! Feel free to make any changes!
    </div>
    <br />
    <div>Username: guest</div>
    <div>Password: guest123</div>
    <br /><br />
    <div>
      Github Repo:
      <a href="https://github.com/MilanFatschel/AgileScrum_Sprint_Planner"
        >AgileScrum_Sprint_Planner</a
      >
    </div>
    <div class="buttons is-right">
      <button
        class="button is-primary has-text-white is-medium"
        (click)="onContinueClick()"
      >
        Continue
      </button>
    </div>
  </div>
</div>
